.main {
	display: flex;
	flex: 1;
	overflow: hidden;
	gap: 0.5rem;
}

@media (max-width: 750px) and (orientation: portrait) {
	.main {
		flex-direction: column;
		margin-bottom: 0.5rem;
	}
}

.footer {
	height: 3rem;
	display: flex;
	align-items: center;
	align-self: center;
	gap: 1.25rem;
	padding: 0 0.5rem 0.25rem;
}
