@font-face {
	font-family: "Press Start 2P";
	src: url("./assets/PressStart2P.ttf") format("truetype");
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: #355058;
	background-image: url("./assets/background.png");
	background-size: cover;
}

#root {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex: 1;
	overflow: hidden;
}

main img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	image-rendering: pixelated;
	user-select: none;
}

footer {
	height: 48px;
	display: flex;
	align-items: center;
	align-self: center;
	gap: 16px;
	padding: 0 8px 4px;
}

@media (max-width: 750px) and (orientation: portrait) {
	main {
		flex-direction: column;
		gap: 0.5em;
		margin-bottom: 0.5em;
	}
}
